.flex {
  display: flex !important;
}
.center-x {
  justify-content: center !important;
}
.center-y {
  align-items: center !important;
}
.center-xy {
  justify-content: center !important;
  align-items: center !important;
}
.hide {
  display: none !important;
}
